/*     brand Colors              */
@import url('https://fonts.googleapis.com/css?family=Kristi');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
@import url('https://fonts.googleapis.com/css?family=Kristi');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
.carousel.carousel-full-nagivation .left {
  cursor: url('../../img/arrow-left.png'), url('../../img/arrow-left.cur'),
    default !important;
}

.carousel.carousel-full-nagivation .right {
  cursor: url('../../img/arrow-right.png'), url('../../img/arrow-right.cur'),
    default !important;
}

.card {
  font-size: 0.875rem;
}

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}

footer,
nav {
  display: block;
}

body {
  margin: 0;
  font-family: 'Merriweather Sans', 'Lato', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fafafa;
}

[tabindex='-1']:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  font-weight: bolder;
}

a {
  color: #9c27b0;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  &:hover {
    color: #0a6ebd;
    text-decoration: underline;
  }
}

img {
  vertical-align: middle;
  border-style: none;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
  &:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

input,
button,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button {
  text-transform: none;
  -webkit-appearance: button;
}

html [type='button'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

@media print {
  * {
    text-shadow: none !important;
    box-shadow: none !important;
    &::before,
    &::after {
      text-shadow: none !important;
      box-shadow: none !important;
    }
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  @page {
    size: a3;
  }

  body,
  .container {
    min-width: 992px !important;
  }
  .navbar {
    display: none;
  }
}

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}

footer,
nav {
  display: block;
}

body {
  margin: 0;
  font-family: 'Merriweather Sans', 'Lato', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fafafa;
}

[tabindex='-1']:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  font-weight: bolder;
}

a {
  color: #9c27b0;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  &:hover {
    color: #0a6ebd;
    text-decoration: underline;
  }
}

img {
  vertical-align: middle;
  border-style: none;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
  &:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

input,
button,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button {
  text-transform: none;
  -webkit-appearance: button;
}

html [type='button'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.h5 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.2;
  color: inherit;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

.h5 {
  font-size: 1.25rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.small {
  font-size: 80%;
  font-weight: 400;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

.col-sm,
.col-md-2,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.4375rem 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border: 1px solid #d2d2d2;
  border-radius: 0;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }
  &:focus {
    color: #495057;
    background-color: rgba(0, 0, 0, 0);
    border-color: #9acffa;
    outline: 0;
    box-shadow: none, 0 0 0 0.2rem rgba(33, 150, 243, 0.25);
  }
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  &:disabled {
    background-color: #e9ecef;
    opacity: 1;
  }
}

.form-control-lg {
  padding: 0.5625rem 0;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.form-group {
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.46875rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.25);
  }
  &:disabled {
    opacity: 0.65;
    box-shadow: none;
  }
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
    &:active,
    &.active {
      background-image: none;
      box-shadow: none;
    }
    &:active:focus,
    &.active:focus {
      box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.25), none;
    }
  }
}

.btn-primary:not(:disabled):not(.disabled) {
  &:active,
  &.active {
    color: #ffffff;
    background-color: #0c7cd5;
    border-color: #0b75c9;
  }
  &:active:focus,
  &.active:focus {
    box-shadow: none, 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
  }
}

.btn-secondary:not(:disabled):not(.disabled) {
  &:active,
  &.active {
    color: #ffffff;
    background-color: #545b62;
    border-color: #4e555b;
  }
  &:active:focus,
  &.active:focus {
    box-shadow: none, 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  }
}

.btn-success:not(:disabled):not(.disabled) {
  &:active,
  &.active {
    color: #ffffff;
    background-color: #3d8b40;
    border-color: #39833c;
  }
  &:active:focus,
  &.active:focus {
    box-shadow: none, 0 0 0 0.2rem rgba(76, 175, 80, 0.5);
  }
}

.btn-info {
  color: #ffffff;
  background-color: #00bcd4;
  border-color: #00bcd4;
  box-shadow: none;
  &:hover {
    color: #ffffff;
    background-color: #009aae;
    border-color: #008fa1;
  }
  &:focus {
    box-shadow: none, 0 0 0 0.2rem rgba(0, 188, 212, 0.5);
  }
  &:disabled {
    color: #ffffff;
    background-color: #00bcd4;
    border-color: #00bcd4;
  }
  &:not(:disabled):not(.disabled) {
    &:active,
    &.active {
      color: #ffffff;
      background-color: #008fa1;
      border-color: #008394;
    }
    &:active:focus,
    &.active:focus {
      box-shadow: none, 0 0 0 0.2rem rgba(0, 188, 212, 0.5);
    }
  }
}

.btn-warning {
  color: #212529;
  background-color: #ffeb3b;
  border-color: #ffeb3b;
  box-shadow: none;
  &:hover {
    color: #212529;
    background-color: #ffe715;
    border-color: #ffe608;
  }
  &:focus {
    box-shadow: none, 0 0 0 0.2rem rgba(255, 235, 59, 0.5);
  }
  &:disabled {
    color: #212529;
    background-color: #ffeb3b;
    border-color: #ffeb3b;
  }
  &:not(:disabled):not(.disabled) {
    &:active,
    &.active {
      color: #212529;
      background-color: #ffe608;
      border-color: #fae100;
    }
    &:active:focus,
    &.active:focus {
      box-shadow: none, 0 0 0 0.2rem rgba(255, 235, 59, 0.5);
    }
  }
}

.btn-danger:not(:disabled):not(.disabled) {
  &:active,
  &.active {
    color: #ffffff;
    background-color: #ea1c0d;
    border-color: #de1b0c;
  }
  &:active:focus,
  &.active:focus {
    box-shadow: none, 0 0 0 0.2rem rgba(244, 67, 54, 0.5);
  }
}

.btn-light:not(:disabled):not(.disabled) {
  &:active,
  &.active {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
  }
  &:active:focus,
  &.active:focus {
    box-shadow: none, 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
  }
}

.btn-dark:not(:disabled):not(.disabled) {
  &:active,
  &.active {
    color: #ffffff;
    background-color: #1d2124;
    border-color: #171a1d;
  }
  &:active:focus,
  &.active:focus {
    box-shadow: none, 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  }
}

.btn-outline-primary {
  color: #2196f3;
  background-color: transparent;
  background-image: none;
  border-color: #2196f3;
  &:hover {
    color: #ffffff;
    background-color: #2196f3;
    border-color: #2196f3;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
  }
  &:disabled {
    color: #2196f3;
    background-color: transparent;
  }
  &:not(:disabled):not(.disabled) {
    &:active,
    &.active {
      color: #ffffff;
      background-color: #2196f3;
      border-color: #2196f3;
    }
    &:active:focus,
    &.active:focus {
      box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
    }
  }
}

.btn-outline-secondary:not(:disabled):not(.disabled) {
  &:active,
  &.active {
    color: #ffffff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  &:active:focus,
  &.active:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  }
}

.btn-outline-success:not(:disabled):not(.disabled) {
  &:active,
  &.active {
    color: #ffffff;
    background-color: #4caf50;
    border-color: #4caf50;
  }
  &:active:focus,
  &.active:focus {
    box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.5);
  }
}

.btn-outline-info {
  color: #00bcd4;
  background-color: transparent;
  background-image: none;
  border-color: #00bcd4;
  &:hover {
    color: #ffffff;
    background-color: #00bcd4;
    border-color: #00bcd4;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, 0.5);
  }
  &:disabled {
    color: #00bcd4;
    background-color: transparent;
  }
  &:not(:disabled):not(.disabled) {
    &:active,
    &.active {
      color: #ffffff;
      background-color: #00bcd4;
      border-color: #00bcd4;
    }
    &:active:focus,
    &.active:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, 0.5);
    }
  }
}

.btn-outline-warning:not(:disabled):not(.disabled) {
  &:active,
  &.active {
    color: #212529;
    background-color: #ffeb3b;
    border-color: #ffeb3b;
  }
  &:active:focus,
  &.active:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 235, 59, 0.5);
  }
}

.btn-outline-danger:not(:disabled):not(.disabled) {
  &:active,
  &.active {
    color: #ffffff;
    background-color: #f44336;
    border-color: #f44336;
  }
  &:active:focus,
  &.active:focus {
    box-shadow: 0 0 0 0.2rem rgba(244, 67, 54, 0.5);
  }
}

.btn-outline-light:not(:disabled):not(.disabled) {
  &:active,
  &.active {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }
  &:active:focus,
  &.active:focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
  }
}

.btn-outline-dark:not(:disabled):not(.disabled) {
  &:active,
  &.active {
    color: #ffffff;
    background-color: #343a40;
    border-color: #343a40;
  }
  &:active:focus,
  &.active:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  }
}

.btn-sm {
  padding: 0.40625rem 1.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.1875rem;
}

.collapse {
  display: none;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  > .form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    &:focus {
      z-index: 3;
    }
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.input-group-append {
  display: flex;
  .btn {
    position: relative;
    z-index: 2;
  }
  margin-left: -1px;
}

.input-group > .input-group-append > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  > .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  &:hover,
  &:focus {
    text-decoration: none;
  }
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: '';
  background: no-repeat center center;
  background-size: 100% 100%;
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
    .navbar-nav {
      flex-direction: row;
      .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }
    > .container {
      flex-wrap: nowrap;
    }
    .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar-toggler {
      display: none;
    }
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-warning {
  color: #857a1f;
  background-color: #fffbd8;
  border-color: #fff9c8;
}

.alert-danger {
  color: #7f231c;
  background-color: #fdd9d7;
  border-color: #fccac7;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: inherit;
  border: 0 solid rgba(0, 0, 0, 0.125);
  &:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  &:hover,
  &:focus {
    z-index: 1;
    text-decoration: none;
  }
  &:disabled {
    color: #6c757d;
    background-color: inherit;
  }
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}

@supports (-webkit-transform-style: preserve-3d) or
  (transform-style: preserve-3d) {
}

@supports (-webkit-transform-style: preserve-3d) or
  (transform-style: preserve-3d) {
}

@supports (-webkit-transform-style: preserve-3d) or
  (transform-style: preserve-3d) {
}

.bg-success {
  background-color: #4caf50 !important;
}

.bg-info {
  background-color: #00bcd4 !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.border-white {
  border-color: #ffffff !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-block {
    display: block !important;
  }
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-self-center {
  align-self: center !important;
}

@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row !important;
  }
  .justify-content-lg-center {
    justify-content: center !important;
  }
}

@supports (position: -webkit-sticky) or (position: sticky) {
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.w-100 {
  width: 100% !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.py-1 {
  padding-top: 0.25rem !important;
}

.px-1 {
  padding-right: 0.25rem !important;
}

.py-1 {
  padding-bottom: 0.25rem !important;
}

.px-1 {
  padding-left: 0.25rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
}

.py-4 {
  padding-bottom: 1.5rem !important;
}

.px-4 {
  padding-left: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

@media (min-width: 768px) {
  .pl-md-3 {
    padding-left: 1rem !important;
  }
  .pt-md-5 {
    padding-top: 3rem !important;
  }
}

@media (min-width: 992px) {
  .px-lg-5 {
    padding-right: 3rem !important;
  }
  .pl-lg-5,
  .px-lg-5 {
    padding-left: 3rem !important;
  }
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-primary {
  color: #2196f3 !important;
}

.text-warning {
  color: #ffeb3b !important;
}

.text-light {
  color: #f8f9fa !important;
}

.invisible {
  visibility: hidden !important;
}

body {
  background-color: #ffffff;
}

a:focus,
button:focus {
  outline: none;
}

.kristi {
  font-family: 'Kristi', cursive;
}

.small-caps {
  font-variant: small-caps;
}

body {
  background-color: #eee;
  color: #3c4858;
  font-weight: 300;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
  }
}

a {
  color: #9c27b0;
  &:hover,
  &:focus {
    color: #89229b;
    text-decoration: none;
  }
}

.main {
  background: #ffffff;
  position: relative;
  z-index: 3;
}

label {
  font-size: 14px;
  line-height: 1.42857;
  color: #aaaaaa;
  font-weight: 400;
}

.main-raised {
  margin: -60px 30px 0px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

/*           Animations              */

.navbar {
  transition: all 150ms ease 0s;
}

.title {
  margin-top: 30px;
  margin-bottom: 25px;
  min-height: 32px;
}

@media (max-width: 830px) {
  .main-raised {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media all and (max-width: 375px) {
  .page-header {
    height: calc(100vh + 270px);
  }
  .main.main-raised {
    margin-top: -30px;
  }
}

/* <div class="container bg-white justify-content-center coverit">
                <p class="">Follow me on <span>Instagram!</span></p>
                <a
                  href="https://www.instagram.com/babymommarachel/?hl=en"
                  target="_blank"
                  ><i class="fa fa-instagram"></i
                ></a>
              </div> */
@supports (pointer-events: auto) {
}

.btn {
  position: relative;
  padding: 12px 30px;
  margin: 0.3125rem 1px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.42857;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 0.2rem;
  outline: 0;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow, transform;
  &:focus,
  &:active:focus {
    outline: 0;
    box-shadow: none !important;
  }
  &.btn-info {
    color: #fff;
    background-color: #00bcd4;
    border-color: #00bcd4;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14),
      0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12);
    &:hover,
    &:focus,
    &:hover {
      color: #fff;
      background-color: #00aec5;
      border-color: #008697;
    }
    &:active {
      color: #fff;
      background-color: #00aec5;
      border-color: #008697;
      box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14),
        0 3px 1px -2px rgba(0, 188, 212, 0.2),
        0 1px 5px 0 rgba(0, 188, 212, 0.12);
      &:hover,
      &:focus {
        color: #fff;
        background-color: #00aec5;
        border-color: #004b55;
      }
    }
    &:disabled {
      &:focus,
      &:hover {
        background-color: #00bcd4;
        border-color: #00bcd4;
      }
    }
    &:focus,
    &:active,
    &:hover {
      box-shadow: 0 14px 26px -12px rgba(0, 188, 212, 0.42),
        0 4px 23px 0px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 188, 212, 0.2);
    }
  }
  &.btn-warning {
    color: #fff;
    background-color: #ff9800;
    border-color: #ff9800;
    box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14),
      0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12);
    &:hover,
    &:focus,
    &:hover {
      color: #fff;
      background-color: #f08f00;
      border-color: #c27400;
    }
    &:active {
      color: #fff;
      background-color: #f08f00;
      border-color: #c27400;
      box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14),
        0 3px 1px -2px rgba(255, 152, 0, 0.2),
        0 1px 5px 0 rgba(255, 152, 0, 0.12);
      &:hover,
      &:focus {
        color: #fff;
        background-color: #f08f00;
        border-color: #804c00;
      }
    }
    &:disabled {
      &:focus,
      &:hover {
        background-color: #ff9800;
        border-color: #ff9800;
      }
    }
    &:focus,
    &:active,
    &:hover {
      box-shadow: 0 14px 26px -12px rgba(255, 152, 0, 0.42),
        0 4px 23px 0px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(255, 152, 0, 0.2);
    }
  }
  color: #fff;
  background-color: #999999;
  border-color: #999999;
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14),
    0 3px 1px -2px rgba(153, 153, 153, 0.2),
    0 1px 5px 0 rgba(153, 153, 153, 0.12);
  &:hover,
  &:focus,
  &:hover {
    color: #fff;
    background-color: #919191;
    border-color: #7a7a7a;
  }
  &:active {
    color: #fff;
    background-color: #919191;
    border-color: #7a7a7a;
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14),
      0 3px 1px -2px rgba(153, 153, 153, 0.2),
      0 1px 5px 0 rgba(153, 153, 153, 0.12);
    &:hover,
    &:focus {
      color: #fff;
      background-color: #919191;
      border-color: #595959;
    }
  }
  &:disabled {
    &:focus,
    &:hover {
      background-color: #999999;
      border-color: #999999;
    }
  }
  &:focus,
  &:active,
  &:hover {
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42),
      0 4px 23px 0px rgba(0, 0, 0, 0.12),
      0 8px 10px -5px rgba(153, 153, 153, 0.2);
  }
  &.btn-outline-primary,
  &.btn-outline-info {
    border-color: currentColor;
    border-style: solid;
    border-width: 1px;
  }
  &.btn-outline-primary {
    color: #9c27b0;
    background-color: transparent;
    border-color: #9c27b0;
    &:hover,
    &:focus,
    &:hover {
      color: #9c27b0;
      background-color: rgba(153, 153, 153, 0.2);
      border-color: #9c27b0;
    }
    &:active {
      color: #9c27b0;
      background-color: rgba(153, 153, 153, 0.2);
      border-color: #9c27b0;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      &:hover,
      &:focus {
        color: #9c27b0;
        background-color: rgba(153, 153, 153, 0.4);
        border-color: #9c27b0;
      }
    }
    &:disabled {
      &:focus,
      &:hover {
        background-color: transparent;
        border-color: #9c27b0;
      }
    }
  }
  &.btn-outline-info {
    color: #00bcd4;
    background-color: transparent;
    border-color: #00bcd4;
    &:hover,
    &:focus,
    &:hover {
      color: #00bcd4;
      background-color: rgba(153, 153, 153, 0.2);
      border-color: #00bcd4;
    }
    &:active {
      color: #00bcd4;
      background-color: rgba(153, 153, 153, 0.2);
      border-color: #00bcd4;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      &:hover,
      &:focus {
        color: #00bcd4;
        background-color: rgba(153, 153, 153, 0.4);
        border-color: #00bcd4;
      }
    }
    &:disabled {
      &:focus,
      &:hover {
        background-color: transparent;
        border-color: #00bcd4;
      }
    }
  }
  &.btn-sm {
    padding: 0.40625rem 1.25rem;
    font-size: 0.6875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
  &:not(.btn-just-icon):not(.btn-fab) .fa {
    position: relative;
    display: inline-block;
    top: 0;
    margin-top: -1em;
    margin-bottom: -1em;
    font-size: 1.1rem;
    vertical-align: middle;
  }
}

.kristi {
  font-family: 'Kristi', cursive;
}

.small-caps {
  font-variant: small-caps;
}

body {
  background-color: #eee;
  color: #3c4858;
  font-weight: 300;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
  }
}

a {
  color: #9c27b0;
  &:hover,
  &:focus {
    color: #89229b;
    text-decoration: none;
  }
}

.main {
  background: #ffffff;
  position: relative;
  z-index: 3;
}

label {
  font-size: 14px;
  line-height: 1.42857;
  color: #aaaaaa;
  font-weight: 400;
}

.main-raised {
  margin: -60px 30px 0px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

/*           Animations              */

.navbar {
  transition: all 150ms ease 0s;
}

.title {
  margin-top: 30px;
  margin-bottom: 25px;
  min-height: 32px;
}

@media (max-width: 830px) {
  .main-raised {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media all and (max-width: 375px) {
  .page-header {
    height: calc(100vh + 270px);
  }
  .main.main-raised {
    margin-top: -30px;
  }
}

/* <div class="container bg-white justify-content-center coverit">
                <p class="">Follow me on <span>Instagram!</span></p>
                <a
                  href="https://www.instagram.com/babymommarachel/?hl=en"
                  target="_blank"
                  ><i class="fa fa-instagram"></i
                ></a>
              </div> */

form {
  margin-bottom: 1.125rem;
}

.form-control {
  background: no-repeat center bottom, center calc(100% - 1px);
  background-size: 0 100%, 100% 100%;
  border: 0;
  height: 36px;
  transition: background 0s ease-out;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  font-size: 14px;
  &:focus {
    background-size: 100% 100%, 100% 100%;
    transition-duration: 0.3s;
    box-shadow: none;
  }
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::-webkit-input-placeholder {
    color: #aaaaaa;
    font-weight: 400;
    font-size: 14px;
  }
}

.radio label label {
  &:has(input[type='radio'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
  &:has(input[type='checkbox'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
}

.is-focused .radio label label {
  &:has(input[type='radio'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
  &:has(input[type='checkbox'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
}

.radio-inline label {
  &:has(input[type='radio'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
  &:has(input[type='checkbox'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
}

.is-focused .radio-inline label {
  &:has(input[type='radio'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
  &:has(input[type='checkbox'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
}

.checkbox label label {
  &:has(input[type='radio'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
  &:has(input[type='checkbox'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
}

.is-focused .checkbox label label {
  &:has(input[type='radio'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
  &:has(input[type='checkbox'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
}

.checkbox-inline label {
  &:has(input[type='radio'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
  &:has(input[type='checkbox'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
}

.is-focused .checkbox-inline label {
  &:has(input[type='radio'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
  &:has(input[type='checkbox'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
}

.switch label label {
  &:has(input[type='radio'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
  &:has(input[type='checkbox'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
}

.is-focused .switch label label {
  &:has(input[type='radio'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
  &:has(input[type='checkbox'][disabled]) {
    color: #999999;
    &:hover,
    &:focus {
      color: #999999;
    }
  }
}

.form-control {
  background-image: linear-gradient(
      to top,
      #9c27b0 2px,
      rgba(156, 39, 176, 0) 2px
    ),
    linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
  &:invalid {
    background-image: linear-gradient(
        to top,
        #f44336 2px,
        rgba(244, 67, 54, 0) 2px
      ),
      linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
  }
  &:-moz-read-only,
  &:read-only {
    background-image: linear-gradient(
        to top,
        #d2d2d2 1px,
        rgba(210, 210, 210, 0) 1px
      ),
      linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
  }
  &:disabled {
    background-image: linear-gradient(
      to right,
      #d2d2d2 0%,
      #d2d2d2 30%,
      transparent 30%,
      transparent 100%
    );
    background-repeat: repeat-x;
    background-size: 3px 1px;
  }
}

.has-success .form-control:read-only,
.has-info .form-control:read-only {
  background-image: linear-gradient(
      to top,
      #d2d2d2 1px,
      rgba(210, 210, 210, 0) 1px
    ),
    linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.has-white .form-control:read-only {
  background-image: linear-gradient(
      to top,
      #d2d2d2 1px,
      rgba(210, 210, 210, 0) 1px
    ),
    linear-gradient(to top, #ffffff 1px, rgba(255, 255, 255, 0) 1px);
}

.has-warning .form-control:read-only,
.has-danger .form-control:read-only,
.has-rose .form-control:read-only {
  background-image: linear-gradient(
      to top,
      #d2d2d2 1px,
      rgba(210, 210, 210, 0) 1px
    ),
    linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.form-control,
label,
input::-webkit-input-placeholder,
.form-control,
label,
input::-moz-placeholder,
.form-control,
label,
input::-ms-input-placeholder,
.form-control {
  line-height: 1.1;
}

label {
  line-height: 1.1;
  color: #aaaaaa;
  font-size: 0.875rem;
}

.form-group {
  margin-bottom: 17px;
  position: relative;
}

textarea {
  height: auto !important;
  resize: none;
  line-height: 1.42857 !important;
}

.list-group-item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 1rem;
  line-height: 1;
  :first-child {
    margin-right: 2rem;
  }
}

.nav-link {
  text-transform: uppercase;
}

.navbar-nav .nav-link {
  padding: 0.5321rem;
  font-size: 0.875rem;
  font-weight: 400;
}

.rounded {
  border-radius: 6px !important;
}

.navbar {
  border: 0;
  border-radius: 3px;
  padding: 0.625rem 0;
  margin-bottom: 20px;
  color: #555;
  background-color: #fff !important;
  box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12),
    0 7px 10px -5px rgba(0, 0, 0, 0.15);
  .navbar-toggler .navbar-toggler-icon {
    background-color: #555;
  }
  .navbar-nav .nav-item {
    .nav-link {
      position: relative;
      color: inherit;
      padding: 0.9375rem;
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 3px;
      line-height: 20px;
    }
    &.active .nav-link {
      background-color: rgba(255, 255, 255, 0.1);
      &:hover,
      &:focus {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
  .navbar-toggler {
    cursor: pointer;
    .navbar-toggler-icon {
      position: relative;
      width: 22px;
      height: 2px;
      vertical-align: middle;
      outline: 0;
      display: block;
      border-radius: 1px;
      + .navbar-toggler-icon {
        margin-top: 4px;
      }
    }
  }
  .navbar-brand {
    position: relative;
    color: #7d4475;
    height: 50px;
    font-size: 2rem;
    font-family: 'Kristi', cursive;
    line-height: 30px;
    padding: 0.625rem 0;
  }
}

.alert {
  border: 0;
  border-radius: 0;
  padding: 20px 15px;
  line-height: 20px;
  background-color: white;
  color: #555;
  &.alert-warning {
    background-color: #ff9e0f;
    color: #ffffff;
  }
  &.alert-danger {
    background-color: #f55145;
    color: #ffffff;
  }
}

.alert-danger,
.alert-warning {
  color: #ffffff;
}

body,
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-family: 'Merriweather Sans', 'Lato', Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4,
.h4,
.h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
.h1 {
  font-size: 3.3125rem;
  line-height: 1.15em;
}

h2,
.h2 {
  font-size: 2.25rem;
  line-height: 1.5em;
}

h3,
.h3 {
  font-size: 1.5625rem;
  line-height: 1.4em;
}

h4,
.h4 {
  font-size: 1.125rem;
  line-height: 1.5em;
}

.h5 {
  font-size: 1.0625rem;
  line-height: 1.55em;
  margin-bottom: 15px;
}

p {
  font-size: 14px;
  margin: 0 0 10px;
}

.small {
  font-size: 75%;
  color: #777;
}

.title {
  font-weight: 700;
  font-family: 'Roboto Slab', 'Times New Roman', serif;
  color: #3c4858;
  text-decoration: none;
}

.text-warning {
  color: #ff9800 !important;
}

.text-primary {
  color: #9c27b0 !important;
}

@supports (pointer-events: auto) {
}

@supports (pointer-events: auto) {
}

@media (max-width: 767.98px) {
  @supports (pointer-events: auto) {
  }
}

@media (max-width: 767.98px) {
  @supports (pointer-events: auto) {
  }
}

@media (max-width: 991.98px) {
  @supports (pointer-events: auto) {
  }
}

@media (max-width: 991.98px) {
  @supports (pointer-events: auto) {
  }
}

@media (max-width: 1199.98px) {
  @supports (pointer-events: auto) {
  }
}

@media (max-width: 1199.98px) {
  @supports (pointer-events: auto) {
  }
}

@supports (pointer-events: auto) {
}

@supports (pointer-events: auto) {
}

.page-header {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  margin-top: -15px;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  > .container,
  .title {
    color: #fff;
  }
}

.header-filter {
  position: relative;
  &:before,
  &:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: '';
  }
  &::before {
    background: rgba(0, 0, 0, 0.2);
  }
  .container {
    z-index: 2;
    position: relative;
  }
}

footer {
  padding: 0.9375rem 0;
  text-align: center;
  /* Safari */
  /* Safari 6.1+ */
  display: flex;
}

.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  &.bg-info {
    background: linear-gradient(60deg, #26c6da, #0097a7);
  }
  &[class*='bg-'] {
    color: #fff;
    border-radius: 6px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .card {
    display: inline-block;
  }
}

/*!
   * Datetimepicker for Bootstrap 3
   * ! version : 4.17.37
   * https://github.com/Eonasdan/bootstrap-datetimepicker/
   */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Functional styling;
   * These styles are required for noUiSlider to function.
   * You don't need to change these rules to apply your design.
   */

/* Painting and performance;
   * Browsers can paint handles in their own layer.
   */

/* Slider size and handle placement;
   */

/* Styling;
   */

/* Handles and cursors;
   */

/* Disabled state;
   */

.section {
  padding: 70px 0;
}

@media all and (max-width: 991px) {
  [class*='navbar-expand-'] > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-collapse {
    position: fixed;
    display: block;
    top: 0px;
    height: 100vh;
    width: 230px;
    right: 0;
    margin-right: 0 !important;
    z-index: 1032;
    visibility: visible;
    background-color: #999;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding-right: 0;
    padding-left: 0;
    max-height: none !important;
    -webkit-transform: translate3d(230px, 0, 0);
    transform: translate3d(230px, 0, 0);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    &::after {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: #fff;
      display: block;
      content: '';
      z-index: 1;
    }
    .navbar-nav {
      position: relative;
      z-index: 3;
      .nav-item {
        .nav-link {
          color: #3c4858;
          margin: 5px 15px;
        }
        &.active .nav-link {
          background-color: #ecedef;
          color: #3c4858;
          &:hover,
          &:focus,
          &:active {
            background-color: #ecedef;
            color: #3c4858;
          }
        }
        &:after {
          width: calc(100% - 30px);
          content: '';
          display: block;
          height: 1px;
          margin-left: 15px;
          background-color: #e5e5e5;
        }
        &:last-child:after {
          display: none;
        }
      }
    }
  }
}

@media all and (min-width: 991px) {
  .navbar .navbar-nav {
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  @keyframes topbar-back {
    0% {
      top: 6px;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    45% {
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }

    75% {
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }

    100% {
      top: 0px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  }

  @-webkit-keyframes topbar-back {
    0% {
      top: 6px;
      -webkit-transform: rotate(135deg);
    }

    45% {
      -webkit-transform: rotate(-10deg);
    }

    75% {
      -webkit-transform: rotate(5deg);
    }

    100% {
      top: 0px;
      -webkit-transform: rotate(0);
    }
  }

  .navbar .navbar-toggler .navbar-toggler-icon {
    &:nth-child(2) {
      top: 0px;
      -webkit-animation: topbar-back 500ms linear 0s;
      animation: topbar-back 500ms 0s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    &:nth-child(3) {
      opacity: 1;
    }
  }
}
