/* Base Styles -------------------- */
body {
    background: $light;
}

div#bmr-jumbo.container-fluid {
    background-image: url('../img/rachel-hero.png'), $jumbo-gradient;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    @include media-breakpoint-up(sm) {
      background-size: contain;
      background-position: left 30% bottom 0;
    }
    div.container {
      position: absolute;
      right: 0.5rem;
      bottom: 1rem;
      text-align: right;
      @include media-breakpoint-up(sm) {
        right: 5rem;
        bottom: 5rem;
      }
      h1 {
        font-family: $permanent-marker;
        color: $light;
        font-size: 3.5rem;
        //text-shadow: 2px 2px $light;
      }
      h2 {
        font-family: $raleway;
        color: $info;
        text-shadow: 1px 1px $dark;
        span {
          font-family: $sacramento;
          white-space: nowrap;
          font-size: 2rem;
        }
        button.btn {
            margin-left: 1rem;
          }
      }
      h3 {
        font-family: $roboto;
        text-transform: uppercase;
        color: $light;
        text-shadow: 2px 2px $dark;
              }
    }
}

//book sales
div#book-sales.container-fluid {
  //background-color: rgba(0, 0, 63, 0.5);

  #book-sales-header {
    padding: 1rem 0;
    text-align: center;
      h2 {
        font-family: $raleway;
        font-size: 2.5rem;
        color: $dark;
        span#mfs-title {
          white-space: nowrap;
        }
      }
      p.h2 {
        font-family: $permanent-marker;
        color: $info;
      }
      #fruit-line {
        justify-content: center;
        img.img-fluid {
          max-height: 3rem;
        }
      }
      p.h4 {
        padding-bottom: 1rem;
      }
  }

      img.img-fluid {
        max-height: 85vh;
        filter: drop-shadow(5px 5px 2px $dark);
        justify-content: start;
      }

    div#cta-book-btn.container {
	    width: auto;
      padding-bottom: 2rem;


a {
	//text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
  span {
    text-decoration: underline $info
  }
}
@keyframes top{
	from{
		transform: translate(0rem, 0);
	}
	to {
		transform: translate(0rem, 3.5rem);
	}
}
@keyframes bottom{
	from{
		transform: translate(-11.5rem, 0);
	}
	to{
		transform: translate(0rem, 0);
	}
}

@include btn__split($secondary, $info, $danger);
  }
}

div#email-capture {
  h2.h1 {
    text-decoration: underline $info;
    font-family: $raleway;
  }
input[type="email"].email::placeholder {
  color: $light;
  font-family: $permanent-marker;
  font-size: 1.5rem;
}
button[type="submit"]#mc-embedded-subscribe {
  font-family: $permanent-marker;
  color: $info;
}
}

div#events {
  text-align: center;
  h3 {
    font-family: $raleway;
        span#event-emphasis {
      font-family: $permanent-marker;
      color: $info;
    }
  }
      p {
      font-family: $sacramento;
      font-size: 1.70rem;
      color: $secondary;
    }
}



div#about {
  background-image: linear-gradient(to right bottom, #733988, #0a68bc, #008ec8, #00acaf, #4dc288);
  h2 {
    letter-spacing: .1rem;
  }
  p.lead {
    line-height: 2rem;
  }
  div#collapseAbout {
    line-height: 2rem;
  }
}

div#ig-feed.container-fluid {
  position: relative;
  div.container.bg-light {
    height: 5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    p {
      padding-bottom: 1rem;
      font-variant: small-caps;
      font-size: 1.5rem;
      span {
        font-family: $sacramento;
        color: $primary;
        font-variant: none;
        font-size: 2rem;
        line-height: 2rem;
      }
    }
    img.img-fluid {
      max-height: 5rem;
    }
  }
}

// Press info
div#press {
  background-color: $dark;
  span.d-block {
    color: $info;
    font-variant: small-caps;
  }
  h2.h1 {
    color: $light;
    font-family: $permanent-marker;
  }
  span.line {
  display: inline-block;
}
div#partnerships {
  h4.h2 {
    padding: 2rem 0;
    font-family: $raleway;
    font-variant: small-caps;
    span {
      font-family: $permanent-marker;
      font-variant: none;
      color: $success;
      text-decoration: underline;
    }
  }
  div.main-slider {
    padding-bottom: 5rem;
  }
}
}

footer#contact {
  background-color: $dark;
  color: $light;
  background-image: $footer-gradient;
 h4.h5 {
    text-align: right;
  }
}