/* Base Styles -------------------- */
body {
    background: $light;
}

div#bmr-jumbo.container-fluid {
    background-image: url('../img/rachel-hero.png'), $jumbo-gradient;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    @include media-breakpoint-up(sm) {
      background-size: contain;
      background-position: left 30% bottom 0;
    }
    div.container {
      position: absolute;
      right: 0.5rem;
      bottom: 1rem;
      text-align: right;
      @include media-breakpoint-up(sm) {
        right: 5rem;
        bottom: 5rem;
      }
      @include media-breakpoint-up(lg) {
        right: 10rem;
        bottom: 15rem;
      }
      h1 {
        font-family: $permanent-marker;
        color: $light;
        font-size: 3.5rem;
        //text-shadow: 2px 2px $light;
      }
      h2 {
        font-family: $raleway;
        color: $info;
        text-shadow: 1px 1px $dark;
        span {
          font-family: $sacramento;
          white-space: nowrap;
          font-size: 2rem;
        }
        button.btn {
            margin-left: 1rem;
          }
      }
      h3 {
        font-family: $roboto;
        text-transform: uppercase;
        color: $light;
        text-shadow: 2px 2px $dark;
              }
    }
}

//book sales
div#book-sales.container-fluid {
  //background-color: rgba(0, 0, 63, 0.5);

  #book-sales-header {
    padding: 1rem 0;
    text-align: center;
      h2 {
        font-family: $raleway;
        font-size: 2.5rem;
        color: $dark;
        span#mfs-title {
          white-space: nowrap;
        }
      }
      p.h2 {
        font-family: $permanent-marker;
        color: $info;
      }
      #fruit-line {
        justify-content: center;
        img.img-fluid {
          max-height: 3rem;
        }
      }
      p.h4 {
        padding-bottom: 1rem;
      }
  }

      img.img-fluid {
        max-height: 85vh;
        filter: drop-shadow(5px 5px 2px $dark);
        justify-content: start;
      }

    div#cta-book-btn.container {
	    width: auto;
      padding-bottom: 2rem;


a.btn {
	//text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
  span {
    text-decoration: underline $info;
  }
}

//bouncing balls
@keyframes top{
	from{
		transform: translate(0rem, 0);
	}
	to {
		transform: translate(0rem, 3.5rem);
	}
}
@keyframes bottom{
	from{
		transform: translate(-11.5rem, 0);
	}
	to{
		transform: translate(0rem, 0);
	}
}

@include btn__split($secondary, $info, $danger);
  }
}

div#email-capture {
  h2.h1 {
    text-decoration: underline $info;
    font-family: $raleway;
  }
input[type="email"].email::placeholder {
  color: $light;
  font-family: $permanent-marker;
  font-size: 1.5rem;
}
button[type="submit"]#mc-embedded-subscribe {
  font-family: $permanent-marker;
  color: $info;
}
}

div#events {
  text-align: center;
  h3 {
    font-family: $raleway;
        span#event-emphasis {
      font-family: $permanent-marker;
      color: $info;
    }
  }
      p {
      font-family: $sacramento;
      font-size: 1.70rem;
      color: $secondary;
    }
}



div#about {
  background-image: linear-gradient(to right bottom, #733988, #0a68bc, #008ec8, #00acaf, #4dc288);
  h2 {
    letter-spacing: .1rem;
  }
  p.lead {
    line-height: 2rem;
  }
  div#collapseAbout {
    line-height: 2rem;
  }
}

div#ig-feed.container-fluid {
  position: relative;
  div.container.bg-light {
    height: 5.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    p {
      padding-bottom: 1rem;
      font-variant: small-caps;
      font-size: 1.5rem;
      span {
        font-family: $sacramento;
        color: $primary;
        font-variant: none;
        font-size: 2rem;
        line-height: 2rem;
      }
    }
    img.img-fluid {
      max-height: 4rem;
    }
  }
}

// Press info
div#press {
  background-color: $dark;
  span.d-block {
    color: $info;
    font-variant: small-caps;
  }
  h2.h1 {
    color: $light;
    font-family: $permanent-marker;
  }
  span.line {
  display: inline-block;
  white-space: nowrap;
}

ul#press-links {
  .list-group-item {
    background-color: rgba(0,0,0,0.2);
    a {
    color: $sushi-green;
    }
  }
}

div#partnerships {
  margin-top: 3rem;
  background: rgba(255, 255, 255, 0.125);
  border-radius: 5px;
  h4.h2 {
    padding: 2rem 0;
    font-family: $raleway;
    font-variant: small-caps;
    span {
      font-family: $permanent-marker;
      font-variant: normal;
      color: $success;
      text-decoration: underline;
    }
  }
  div.main-slider {
    padding-bottom: 5rem;
  a#ywfc {
    img {
      background: rgba(255, 255, 255, 0.25)
    }
  }
  }
}
}

footer#contact {
  background-color: $dark;
  color: $light;
  background-image: $footer-gradient;
 h1 {
    text-align: right;
    align-content: center;
    font-family: $permanent-marker;
    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }
  div.d-flex.flex-row {
  a {
    img.img-fluid {
      height: 2rem;
      padding: 0 .125rem;
    }
  }
}
h2.h1.text-light {
  font-family: $raleway;
}

  //form styling
  .callback {
  width: 450px;
  padding: 10px;
}

input {
  margin-bottom: 5px;
  width: 100%;
}

.bot {
  position: relative;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  margin-top: 6px;
  margin-bottom: 10px;
  p {
    color: rgba(0, 0, 0, 0.4);
    border: 0px solid rgba(255, 255, 255, 0.5);
    background: #fff;
    overflow: hidden;
    display: inline-block;
    width: 140px;
    height: 32px;
    white-space: nowrap;
    text-align: left;
    border-radius: 20px;
    transition: all 0.2s;
    cursor: pointer;
  }
  .fa {
    font-size: 32px;
    vertical-align: middle;
    transform: rotate(90deg);
    transition: all 0.4s;
    color: rgba(0, 0, 0, 0.4);
    background-color: #fff;
    margin-left: 3px;
    line-height: 32px;
  }
  span {
    padding-left: 10px;
    font-size: 12px;
    font-family: $raleway;
    text-transform: uppercase;
    line-height: 32px;
  }
  &:hover {
    p {
      color: rgba(0, 0, 0, 0.7);
    }
    .fa {
      color: rgba(0, 0, 0, 0.7);
      background-color: #fff;
    }
  }
  .fa-check-circle {
    color: rgba(0, 0, 0, 0.7);
    transform: rotate(0deg);
  }
  .chk {
    height: 32px;
    width: 32px;
    background: transparent;
    border: none;
    .fa {
      margin: auto;
      width: 32px;
      height: 32px;
      text-align: center;
      vertical-align: middle;
      background: transparent;
    }
  }
}

.shake {
  transform-origin: center;
  animation-name: shake;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  0% {
    transform: none;
  }

  12.5% {
    transform: translateX(-6px) rotateY(-5deg);
  }

  37.5% {
    transform: translateX(5px) rotateY(4deg);
  }

  62.5% {
    transform: translateX(-3px) rotateY(-3deg);
  }

  87.5% {
    transform: translateX(2px) rotateY(2deg);
  }

  100% {
    transform: none;
  }
}


.alert {
  &.hidden {
    display: none !important;
  }
  width: auto;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  font-size: 14px;
  font-family: "Tahoma", sans-serif;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0);
  border: none;
  white-space: nowrap;
  padding: 0;
  border-radius: 5px;
  transition: all 0.4s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 0.6s;
}

.alert-warning, .alert-danger {
  width: auto;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  font-size: 14px;
  font-family: "Tahoma", sans-serif;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0);
  border: none;
  white-space: nowrap;
  padding: 0;
  border-radius: 5px;
  transition: all 0.4s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 0.6s;
}

@keyframes pulse {
  0% {
    color: rgba(0, 0, 0, 0.4);
  }

  25% {
    color: rgba(0, 0, 0, 0.9);
  }

  50% {
    color: rgba(0, 0, 0, 0.9);
  }

  100% {
    color: rgba(0, 0, 0, 0.4);
  }
}


.success {
  display: none;
}

.button {
  display: block;
  position: relative;
  width: 200px;
  height: 44px;
  cursor: pointer;
  margin: auto;
  background: #cc181b;
  border-radius: 4px;
  border-color: #cc181b;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #FFF;
  outline: none;
  &:hover {
    cursor: pointer;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 92%;
    height: 10%;
    border-radius: 50%;
    background-color: #710d0f;
    opacity: 0.4;
    bottom: -10px;
  }
}

.selectize-dropdown-content {
  font-size: 16px;
  .active, .item:hover {
    background: gray;
    color: white;
  }
}

.selectize-control {
  &.single .selectize-input, input {
    font-size: 16px;
  }
}
}





