/* Custom Mixins -------------------- */
//split button mixin
@mixin btn__split($foregroundColor, $backgroundColor, $textColor) {
	.btn {
		//display: block;
		position: relative;
		letter-spacing: 0.1em;
		margin: 0 auto;
		padding: 1rem 2.5rem;
		background: transparent;
		outline: solid;
		font-size: 28px;
		color: $textColor;
    font-family: $raleway;
		transition: all 0.5s $cubic-bezier 0.15s;
		&::after,
		&::before {
			content: "";
			position: absolute;
			height: 25%;
			width: 10%;
			transition: all 0.5s $cubic-bezier;
			z-index: 2;
			border-radius: 50%;
			//animation: grow 1s infinite;
		}
		&::before {
			background-color: $backgroundColor;
			top: 1rem;
			left: -1.25rem;
			animation: top 2s $cubic-bezier 0.25s infinite alternate;
		}
		&::after {
			background-color: $foregroundColor;
			top: 6.5rem;
			left: 13rem;
			animation: bottom 2s $cubic-bezier 0.5s infinite alternate;
		}
		&:hover {
			color: #fff;
			&::before,
			&::after {
				top: 0;
				//transform: skewx(-10deg);
				height: 100%;
				width: 100%;
				border-radius: 0;
				animation: none;
			}
			&::after {
				left: 0rem;
			}
			&::before {
				top: 0.5rem;
				left: 0.35rem;
			}
		}
	}
}
