//Custom variables

// Descriptive color variables
$jumbo-gradient: linear-gradient( 135deg, #FCCF31 15%, #F55555 30%, #F97794 60%, #623AA2 100%);

// Functional color variables

// Font stacks
$permanent-marker: 'Permanent Marker', cursive;
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;

// Asset paths
$path-image   :   '../img';
$path-fonts     :  '../fonts';
